body,
html {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Makes text unselectable */
    -webkit-user-select: none;
    user-select: none;
}

#dropzone {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 175ms;
}

.dropzone-hover {
    visibility: visible;
    opacity: 1;
}

#header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 4em;
}

#help {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 22px;
    color: white;
    background: #333;
    box-shadow: 6px 3px 18px -8px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    padding: 8px;
    width: 26px;
    height: 26px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

#help-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.3);
    visibility: hidden;
}

#help-modal-controls-table {
    border-spacing: 15px;
}

#help-modal-controls-table td:nth-child(1) {
    text-align: center;
}

#help-modal-content {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    color: white;
    background-color: #333;
}

#help-modal-content li {
    list-style: none;
}

#julia-center-coords-indicator {
    fill: white;
    mix-blend-mode: difference;
}

#controls {
    height: 4em;
    position: absolute;
    display: flex;
}

.controls,
#meta-controls button {
    transition: opacity 1s ease-in-out;
    transition-duration: 200ms;
}

#meta-controls {
    margin-left: auto;
    display: flex;
    height: 4em;
    right: 10px;
    position: absolute;
}

#hide-ui-btn {
    width: 5em;
}
.invisible {
    opacity: 0;
    pointer-events: none;
}

#canvas-container {
    display: flex;
    flex-direction: row;
}

label {
    font-size: 1em;
    color: white;
}

input[type='number'],
.number-input {
    background: transparent;
    color: white;
    box-shadow: none;
    border: none;
    width: 14ch;
    font-size: 0.9em;
}

button {
    font-size: 0.9em;
    height: 70%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    resize: both;
}

.input-wrapper > * {
    margin: auto;
    padding: 3px;
}

#julia-center-coords-indicator-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 5px;
    pointer-events: none;
}

#escape-radius {
    width: 8ch;
}

#exponent {
    width: 5ch;
}

/* Color input */
input[type='color'] {
    -webkit-appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    min-height: 20px;
}
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type='color']::-webkit-color-swatch {
    border: none;
}

#color-dropdown label {
    font-size: 15px;
}

#random-movement {
    width: 17ch;
}

#save-julia-png-btn {
    width: 12ch;
}

#download-preview-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

#download-preview-canvas-border {
    position: absolute;
    display: block;
    border: 2px solid #333;
}

#download-preview-canvas,
#download-preview-canvas-2d {
    display: block;
}

#download-resolution-inputs-container {
    position: relative;
    margin-right: 20px;
}

#download-dimension-and-center-container {
    display: flex;
    margin: auto;
}

#download-center-container {
    display: flex;
}

#download-resolution-y,
#download-resolution-x {
    width: 80px;
}

#download-inputs {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 20px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.outer-box {
    flex: 2;
    display: flex;
    justify-content: center;
}

#download-julia-btn {
    margin: auto;
    height: 30px;
}

#preview-center-origin-btn {
    position: relative;
    height: 30px;
    width: 14ch;
    margin: auto;
    margin-left: 10px;
}

#preview-cpu-render-btn {
    margin: auto;
    height: 30px;
    width: 23ch;
}

#preview-zoom-wrapper {
    margin: auto;
    margin-left: 10px;
}

#live-cpu-rendering-progress-bar-wrapper {
    width: 25%;
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 135px;
    background-color: #333;
}

#live-cpu-rendering-progress-bar {
    width: 0%;
    height: 10px;
    background-color: blue;
}

/* Progress bar */
#cpu-rendering-progress-bar-wrapper {
    width: 25%;
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 100px;
    background-color: grey;
}

#cpu-rendering-progress-bar {
    width: 0%;
    height: 30px;
    background-color: green;
}

#cpu-rendering-progress-bar-time {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    color: rgb(50, 50, 50);
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
